basePath: /api
host: localhost:4000
info:
  contact: {}
  description: This is the API for the Sens.ai backend.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Sens.ai Backend API
paths:
  /v1/health:
    get:
      consumes:
      - application/json
      description: Checks if the service is healthy
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Health Check
      tags:
      - health
swagger: "2.0"
